<h1>Welcome to Rock Paper Scissors!</h1>

<p>To play this game, all you have to do is guess either Rock, Paper or Scissors.  Here are the ways to win: </p>
<ul>
<li> Rock beats Scissors</li>
<li> Scissors beats Paper</li>
<li> Paper beats Rock</li>
</ul>
<p> Try to beat the computer</p>

<h2>Pick Rock, Paper or Scissors:</h2>
<ul>
	<li><%= link_to 'Rock', rock_paper_scissor_path(0) %></li>
	<li><%= link_to 'Paper', rock_paper_scissor_path(1) %></li>
	<li><%= link_to 'Scissors', rock_paper_scissor_path(2) %></li>
</ul>

