<hl> Welcome to this awesome Movie App! <hl>
<p> Browse the collection below <p>


 <tbody>
 	<% @movies.each do |movie| %>
 		<tr>
 		<ul>
 			<li><%= movie.title %></li>
 			</ul>
 			<tr>
 		<% end%>
 	</tr>
 </tr>table>
 
 <br>			



