<h1>RockPaperScissors#new</h1>
<p>Find me in app/views/rock_paper_scissors/new.html.erb</p>
<ul>
<% 0.upto(2) do |number| %>
	<li><%= link_to number, rock_paper_scissors_path(number) %></li>
<%end%>
</ul>