<center>
<h3><%= image_tag "#{@player_throw}.jpg" %> v. <%= image_tag "#{@computer_throw}.jpg" %></h3>
<h2><%= image_tag "#{@outcome}.gif" %></h2>
<p><%=link_to 'play again?', new_rp_path %></p>
</center>