<h1>Welcome to Rock Paper Scissors</h1>
<p>To play this game, throw out rock, paper, or scissors!</p>
  <em></em>, you win!</p>
<p>Choose carefully... you only get one try!</p>
<h2>Pick a number:</h2>
<ul>
  <% 1.upto(5) do |number| %>
    <li><%= link_to number, secret_number_path(number) %></li>
  <% end %>
</ul>