<h1>Welcome to Rock Paper Scissors</h1>
<p>To play this game, throw out rock, paper, or scissors!</p>
  <em></em> Rock beats scissors, scissors beats rock, etc. Standard rules.</p>
<p>Choose carefully... you only get one try!</p>
<h2>GO!</h2>
<ul>
	<li><%= link_to 'Rock' , rock_paper_scissors_path %></li>
    <li><%= link_to 'Paper', rock_paper_scissors_path %></li>
    <li><%= link_to 'Scissors', rock_paper_scissors_path %></li>
</ul>