<h1>Welcome to Scramble!</h1>
<p>To play this game, all you have to do is guess the scrambled word.</p>
<p>Choose carefully... you only get one try!</p>

<h4>The scrambled word is: <%= @dirty_word %></h4>

<div>
    <form>
      <input type='text' placeholder="Enter a guess here">
      <input type='submit' value='Guess'>
    </form>
 </div>


  