<h1>Welcome to Rock_Paper_Scissors Game!</h1>
<p>To play this game, all you have to do is choose one of the options below
<p> Rock, Paper or Scissors. If you guess the <p>
  <em>correct action</em>, you win!</p>
<p>Choose carefully... you only get one try!</p>
<h2>Pick an action:</h2>
<ul> <li><%= link_to 'rock', rock_paper_scissor_path('rock') %></li>
<ul> <li><%= link_to 'paper', rock_paper_scissor_path('paper') %></li>
<ul> <li><%= link_to 'scissors', rock_paper_scissor_path('scissors') %></li>
</ul>

